<div class="container mt-4">
  <h2>Lista de Tickets</h2>

  <ul class="list-group">
    <li *ngFor="let ticket of tickets" class="list-group-item">
      <strong>Título:</strong> {{ ticket.title }}<br>
      <strong>Descripción:</strong> {{ ticket.description }}<br>
      <strong>Estado:</strong> {{ ticket.status.name }}<br>
      <strong>Prioridad:</strong> {{ ticket.priority.name }}<br>
      <strong>Usuario:</strong> {{ ticket.user.username }}<br>
      <strong>Proyecto:</strong> {{ ticket.project.name }}<br>
      <strong>Categoría:</strong> {{ ticket.category.name }}<br>
      <strong>Tipo:</strong> {{ ticket.kind.name }}<br>
      <strong>Fecha de Creación:</strong> {{ ticket.created_at | date:'short' }}<br>
      <strong>Fecha de Actualización:</strong> {{ ticket.update_at | date:'short' }}<br>

      <!-- Otros campos que quieras mostrar -->

      <button class="btn btn-primary btn-sm" (click)="updateTicket(ticket.id)">Actualizar</button>
      <button class="btn btn-danger btn-sm" (click)="deleteTicket(ticket.id)">Eliminar</button>
    </li>
  </ul>
</div>

<div class="container mt-4">
  <h2>Crear Nuevo Ticket</h2>

  <form (ngSubmit)="createTicket()" name="ticketForm">
    <div class="form-group">
      <input [(ngModel)]="newTicket.title" name="title" class="form-control" placeholder="Título">
    </div>
    <div class="form-group">
      <input [(ngModel)]="newTicket.description" name="description" class="form-control" placeholder="Descripción">
    </div>
    <!-- Agrega más campos según sea necesario -->
    <button type="submit" class="btn btn-success">Crear Ticket</button>
  </form>
</div>
